<div class="credit-card-wrapper">

  <div class="ghost-spacing"></div>

  <div [ngClass]="cardClass">

    <header>

      <div class="title-wrapper">
        <h2>{{ title }}</h2>
        <h3>{{ formattedValue }}</h3>
      </div>

      @if(type === 'total')
      {
        <ion-img src="../../../assets/card-flag.svg" class="card-flag"></ion-img>
      }
      @else if(type === 'entradas')
      {
        <div class="icon-wrapper">
          <ion-img src="../../../assets/income-icon.svg"></ion-img>
        </div>
      }
      @else if(type === 'saidas')
      {
        <div class="icon-wrapper">
          <ion-img src="../../../assets/expenses-icon.svg"></ion-img>
        </div>
      }

    </header>

    <div class="info-area">

      @if(type === 'total')
      {
        <ion-text>SALDO ATUAL</ion-text>
      }
      @else if(type === 'entradas')
      {
        <ion-text>ÚLTIMA EM</ion-text>
      }
      @else if(type === 'saidas')
      {
        <ion-text>ÚLTIMA EM</ion-text>
      }

      <ion-text>{{ last_modify | date: 'MMM, dd yyyy' | titlecase }}</ion-text>

    </div>

    <img src="../../../assets/credit-card-elipse.svg" class="elipse" />

  </div>
  
</div>

