<header>
  <h3>Neste Mês</h3>

  <button>
    <ion-img src="../../../assets/filter-icon.svg"></ion-img>
    <ion-text>Filtrar</ion-text>
  </button>
</header>

<div class="list">

  <div class="transaction-card-wrapper">
    <app-transaction-card></app-transaction-card>
  </div>

  <div class="transaction-card-wrapper">
    <app-transaction-card></app-transaction-card>
  </div>

  <div class="transaction-card-wrapper">
    <app-transaction-card></app-transaction-card>
  </div>

  <div class="transaction-card-wrapper">
    <app-transaction-card></app-transaction-card>
  </div>

  <div class="transaction-card-wrapper">
    <app-transaction-card></app-transaction-card>
  </div>

  <div class="transaction-card-wrapper">
    <app-transaction-card></app-transaction-card>
  </div>

  <div class="transaction-card-wrapper">
    <app-transaction-card></app-transaction-card>
  </div>

  <div class="transaction-card-wrapper">
    <app-transaction-card></app-transaction-card>
  </div>

  <div class="transaction-card-wrapper">
    <app-transaction-card></app-transaction-card>
  </div>

  <div class="transaction-card-wrapper">
    <app-transaction-card></app-transaction-card>
  </div>

</div>